# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Diku/Merc related stuff
build/
snippets
merc

# Player files...  Has to be a better way to do this.
player/A/*
player/B/*
player/C/*
player/D/*
player/E/*
player/F/*
player/G/*
player/H/*
player/I/*
player/J/*
player/K/*
player/L/*
player/M/*
player/N/*
player/O/*
player/P/*
player/Q/*
player/R/*
player/S/*
player/T/*
player/U/*
player/V/*
player/W/*
player/X/*
player/Y/*
player/Z/*
