# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Diku/Merc related stuff
build/
log/*.log
snippets
merc
shutdown.txt

# Player files...  Has to be a better way to do this.
player/a/A*
player/b/B*
player/c/C*
player/d/D*
player/e/E*
player/f/F*
player/g/G*
player/h/H*
player/i/I*
player/j/J*
player/k/K*
player/l/L*
player/m/M*
player/n/N*
player/o/O*
player/p/P*
player/q/Q*
player/r/R*
player/s/S*
player/t/T*
player/u/U*
player/v/V*
player/w/W*
player/x/X*
player/y/Y*
player/z/Z*
