# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Diku/Merc related stuff
build/
snippets
merc

# Player files...  Has to be a better way to do this.
player/A/A*
player/B/B*
player/C/C*
player/D/D*
player/E/E*
player/F/F*
player/G/G*
player/H/H*
player/I/I*
player/J/J*
player/K/K*
player/L/L*
player/M/M*
player/N/N*
player/O/O*
player/P/P*
player/Q/Q*
player/R/R*
player/S/S*
player/T/T*
player/U/U*
player/V/V*
player/W/W*
player/X/X*
player/Y/Y*
player/Z/Z*

